<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">NDC <i class="fas fa-link"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron" style="background-color: aliceblue;">
  <div class="container">
    <h1 class="display-4">Best Offers!</h1>
    <p class="lead">Powered by Blockchain <i class="fas fa-bolt"></i></p>
    <br>
    <afkl-search-form (submit)="onSubmit($event)"></afkl-search-form>
  </div>
</div>

<div class="container">
  <afkl-offer-list [offers]="offers"></afkl-offer-list>
  <br>
  <hr>
  <footer>
    <p>&copy; NDC <i class="fas fa-link"></i> 2018</p>
  </footer>
</div>
