<div class="offer-card card" (click)="showDetails = !showDetails">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-sm-9">
        <div class="row align-items-center justify-content-center">
          <div class="col text-center">
            <h4 class="card-title">{{offer.legs[0].timeDeparture}}</h4>
            <h5 class="card-subtitle mb-2 text-muted">{{offer.legs[0].origin}}</h5>
          </div>
          <div class="col text-center">
            --- <i class="fas fa-plane"></i> ---
          </div>
          <div class="col text-center">
            <h4 class="card-title">{{offer.legs[offer.legs.length-1].timeArrival}}</h4>
            <h5 class="card-subtitle mb-2 text-muted">{{offer.legs[offer.legs.length-1].dest}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <h3 class="card-text">{{offer.price | currency:'EUR'}}</h3>
        <button href="#" class="btn btn-primary" (click)="onSelect($event)">Select</button>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="showDetails">
    <div *ngFor="let leg of offer.legs">
      <div>{{leg.timeDeparture}} {{leg.origin}}</div>
      <div>{{leg.timeArrival}} {{leg.dest}}</div>
    </div>
  </div>
</div>
